# vim:ft=dosini

[delta]
  syntax-theme                  = "ansi"
  commit-style                  = raw
  file-style                    = "{{ colors.blue }}"
  hunk-header-style             = syntax
  minus-style                   = normal "{{ colors.dark_red }}"
  minus-non-emph-style          = normal "{{ colors.dark_red }}"
  minus-emph-style              = reverse "{{ colors.strong_red }}"
  minus-empty-line-marker-style = normal "{{ colors.dark_red }}"
  zero-style                    = syntax
  plus-style                    = normal "{{ colors.dark_green }}"
  plus-non-emph-style           = normal "{{ colors.dark_green }}"
  plus-emph-style               = reverse "{{ colors.strong_green }}"
  plus-empty-line-marker-style  = normal "{{ colors.dark_green }}"
  grep-file-style               = "{{ colors.blue }}"
  grep-line-number-style        = "{{ colors.blue }}"
  whitespace-error-style        = reverse "{{ colors.strong_magenta }}"
  blame-palette                 = {{ colors.background_alt1 }} {{ colors.grey2 }} {{ colors.grey4 }}
