body, * {
  --primary-color: {{ theme.primary }} !important;
  --dark-primary-color: {{ theme.secondary }} !important;
  --primary-text-color: {{ colors.foreground }} !important;
  --secondary-text-color: {{ colors.foreground }} !important;
  --message-background-color: {{ colors.grey1 }};
  --badge-text-color: {{ colors.background }} !important;
  --surface-color: {{ colors.background }} !important;
  --surface-color-rgb: {{ colors.background_alt1 }} !important;
  --input-search-background-color: {{ colors.background_alt1 }} !important;
  --background-color: {{ colors.background_alt1 }} !important;
  --message-highlighting-color: {{ colors.grey2 }} !important;
  --danger-color: {{ theme.error }} !important;
}

body {
  background-color: {{ colors.background }} !important;
}

.chat-background {
  background-color: {{ colors.background_alt1 }} !important;
}
.chat-background-item {
  display: none !important;
}

.chatlist-chat.active * {
    color: {{ colors.background }} !important;
}

.animated-button-icon-icon {
    color: {{ colors.background }} !important;
}

.audio-to-text-button {
  background-color: {{ theme.primary }} !important;
  color: {{ colors.background }} !important;
}

.audio-play-icon > div {
  background-color: {{ colors.background }} !important;
}
