configuration {
  combi-modi: "window,drun";
  show-icons: true;
  combi-hide-mode-prefix: true;
  display-combi: "Switch to";
  kb-remove-to-eol: "";
  kb-move-end: "";
  kb-accept-entry: "Return,KP_Enter";
  kb-row-up: "Up,Control+e";
  kb-row-down: "Down,Control+n";
  timeout {
      action: "kb-cancel";
      delay: 0;
  }
  filebrowser {
      directories-first: true;
      sorting-method: "name";
  }
}

{% if zen %}
@theme "zen"
{% else %}
@theme "theme"
{% endif %}
