[Unit]
Description=i3 session
BindsTo=graphical-session.target
Wants=dunst.service
Wants=polybar.service
Wants=picom.service
Wants=wallpaper.service
Wants=xsettingsd.service
Wants=redshift.service
