[Unit]
Description=i3 window manager
Wants=polybar.service
Wants=picom.service
Wants=wallpaper.service

Before=polybar.service
Before=picom.service
Before=wallpaper.service

[Service]
Type=notify
ExecStart=i3
ExecStopPost=systemctl --user stop --no-block graphical-session.target
