/**
 * @name midnight (nord)
 * @description A dark, rounded discord theme. Based on nord theme (https://github.com/nordtheme/nord).
 * @author refact0r, anubis
 * @version 1.6.2
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/midnight-discord
 * @source https://github.com/refact0r/midnight-discord/blob/master/flavors/midnight-nord.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!!! */

@import url("https://refact0r.github.io/midnight-discord/midnight.css");

:root {
  --font: "{{ font }}";
  --corner-text: "";
  --online-indicator: {{ colors.green }};
  --dnd-indicator: {{ colors.red }};
  --idle-indicator: {{ colors.orange }};
  --streaming-indicator: {{ colors.magenta }};

  --accent-1: {{ theme.primary | between(colors.background, 1, 14) }};
  --accent-2: {{ theme.primary | between(colors.background, 2, 14) }};
  --accent-3: {{ theme.primary | between(colors.background, 3, 14) }};
  --accent-4: {{ theme.primary | between(colors.background, 4, 14) }};
  --accent-5: {{ theme.primary | between(colors.background, 5, 14) }};
  --mention: {{ colors.background_alt1 }};
  --mention-hover: {{ colors.background_alt1 | darken }};

  --text-0: {{ colors.grey1 }};
  --text-1: {{ colors.foreground }};
  --text-2: {{ colors.grey8 }};
  --text-3: {{ colors.foreground }};
  --text-4: {{ colors.grey7 }};
  --text-5: {{ colors.grey2 }};

  --bg-1: {{ colors.grey3 }};
  --bg-2: {{ colors.grey4 }};
  --bg-3: {{ colors.background_alt2 }};
  --bg-4: {{ colors.background }};
  --hover: {{ colors.grey3 }};
  --active: {{ colors.grey2 }};
  --message-hover: {{ colors.background_alt1 }};

  --spacing: 12px;

  --list-item-transition: 0.2s ease;
  --unread-bar-transition: 0.2s ease;
  --moon-spin-transition: 0.4s ease;
  --icon-spin-transition: 1s ease;

  --roundness-xl: 22px;
  --roundness-l: 20px;
  --roundness-m: 16px;
  --roundness-s: 12px;
  --roundness-xs: 10px;
  --roundness-xxs: 8px;

  --discord-icon: none;
  --moon-icon: block;
  --moon-icon-url: url("https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg");
  --moon-icon-size: auto;

  --login-bg-filter: none;
  --green-to-accent-3-filter: none;
  --blurple-to-accent-3-filter: none;

  --red-400: {{ colors.red }};
  --button-danger-background: {{ colors.red | stronger }};
  --button-outline-danger-background-hover: {{ colors.red | stronger }};
}
